.footer{
	background:black;
	height:40px;
}
 .copyright{
	margin:10px 10px 0 0;
	float:right;
	color:white;
	
}
.facebook{background-image:url(../../appResources/img/icons/social/facebook.png);
	background-repeat: no-repeat; 
	background-size:25px; 
	width:25px;height:25px;
	position:relative;
	top:0px; left:0px;
}
.instagram{background-image:url(../../appResources/img/icons/social/instagram.png);
	background-repeat: no-repeat; 
	background-size:25px; 
	width:25px; height:25px;
	position:absolute;
	top:0px; left:40px;
}
.whatsapp{
	background-image:url(../../appResources/img/icons/social/whatsapp.png);
	background-repeat: no-repeat; 
	background-size:25px; 
	width:25px; height:25px;
	position:absolute;
	top:0px; left:80px;
}
.linkedin{
	background-image:url(../../appResources/img/icons/social/linkedin.png);
	background-repeat: no-repeat; 
	background-size:25px; 
	width:25px; height:25px;
	position:absolute;
	top:0px; left:120px;
}
.twitter{
	background-image:url(../../appResources/img/icons/social/twitter.png);
	background-repeat: no-repeat; 
	background-size:25px; 
	width:25px; height:25px;
	position:absolute;
	top:0px; left:160px;
}
.youtube{
	background-image:url(../../appResources/img/icons/social/youtube.png);
	background-repeat: no-repeat; 
	background-size:25px; 
	width:25px; height:25px;
	position:absolute;
	top:0px; left:200px;
}
.links{position:relative;
	float: left;
    margin: 7px 0px 0px 10px;
 }
 
 