.header{
	background:transparent;
	height:50px;
	margin: 5px 0px 5px 0px;
}
.logo{
	float:left;
	background-image:url(../../appResources/img/logo/logo-bg-free.png);
	background-repeat: no-repeat; 
	background-size:180px; 
	width:180px;height:60px;
	position:relative;
	top:0px; left:0px;
}
.logout{
	background-image:url(../../appResources/img/close.png);
	float:right;
	margin-top:-3px;
	background-color:grey;
	background-size:60px; 
	position:relative;
	width:60px; height:60px;
	cursor:pointer;
}
.imageIcon{
	float:right;
	background-image:url(../../appResources/img/logo/image-icon-512x512.png);
	background-repeat: no-repeat; 
	background-size:50px; 
	width:50px;height:50px;
	position:relative;
	right:150px;
}
.sidebar{height:300px;width:150px;background-color:#bcc3d0;position:fixed!important;z-index:1;overflow:auto;}

.border-right{border-right:1px solid #ccc!important}
.large{font-size:18px!important}
.bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.button{
	border:none;
	display:inline-block;
	padding:10px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.xlarge{font-size:24px!important}
.teal,.teal:hover{color:#fff!important;background-color:transparent!important;}
.menu{
	float:left;
	font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.43;
}
.horizontalLine{
  width: 22px;
  height: 2px;
  background-color: grey;
  margin: 6px -4px;
}